<h1>Form</h1>
<app-header></app-header>
<div class="containers">
    <h1>Create Blog</h1>
        <div class="row">
        <div class="col-md-6">
        <form #userRegForm='ngForm' (ngSubmit)="userRegForm.form.valid && RegisterUser(userRegForm.value)" novalidate>
             
          
  
        <div class="form-group">
               
                          <input type="text" class="w3-input w3-section w3-border" placeholder="User Name" name="user_id" [(ngModel)]="user_id" #username="ngModel" [ngClass]="{ 'is-invalid': userRegForm.submitted && username.invalid }" required>
        
        <div *ngIf="userRegForm.submitted && username.invalid" class="invalid-feedback">
        <div *ngIf="username.errors.required" class="alert-danger">Name is required</div>
        
        </div>
        
        </div>
        <div class="form-group">
                          <input type="text" class="w3-input w3-section w3-border" id="category_name" placeholder="category_name" name="category_id" [(ngModel)]="category_id" #category="ngModel" [ngClass]="{ 'is-invalid': userRegForm.submitted && category.invalid }" required> 
        
        <div *ngIf="userRegForm.submitted && category.invalid" class="invalid-feedback">
        <div *ngIf="category.errors.required" class="alert-danger">category_name is required</div>
        
        </div>
        
        </div>
        <div class="form-group">
                          <input type="text" class="w3-input w3-section w3-border" id="blog_name" placeholder="blog_name" name="blog_name" [(ngModel)]="blog_name" #blog="ngModel" [ngClass]="{ 'is-invalid': userRegForm.submitted && blog.invalid }" required>  
        
        <div *ngIf="userRegForm.submitted && blog.invalid" class="invalid-feedback">
        <div *ngIf="blog.errors.required" class="alert-danger">blog_name is required</div>
        
        </div>
        
        </div>
        <div class="form-group">
                          <input type="text" class="w3-input w3-section w3-border" id="description" placeholder="description" name="description" [(ngModel)]="description" #des="ngModel" [ngClass]="{ 'is-invalid': userRegForm.submitted && des.invalid }" required validateEqual='password'>  
        
        <div *ngIf="userRegForm.submitted && des.invalid" class="invalid-feedback">
        <div *ngIf="des.errors.required" class="alert-danger">description is required</div>
       
        
        </div>
        
        </div>
          
        
        <div class="align-center">
                          <button type="submit" class="w3-button w3-black w3-section" id="registeruser"  >Register</button>
                      </div>
        
        </form>
       
        </div>
        
        </div>
        </div>
<app-footer></app-footer>
   